header{
    padding: 20px 100px;
}

header nav ul {
    justify-content: space-between;
    list-style: none;
    margin-top: 10px;
    display: flex;
    color: white;
}

header nav ul a{
    color: white;
    text-decoration: none;
}

header nav ul ol{
    list-style: none;
    text-align: center;
    width: 60px;
}

header nav ul #seleccion li{
    list-style: none;
    margin-left: 50px;
    border-radius: 20px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    flex-basis: 100px;
    width: 100px;
}

#seleccion li a:hover{
    background: #ffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 30px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}

header .logo{
    width: 40px;
    height: 40px;
    
}

@keyframes logo {
    0%  {transform: rotate(0deg);}
    5%  {transform: rotate(18deg);}
    10%  {transform: rotate(36deg);}
    15%  {transform: rotate(54deg);}
    20%  {transform: rotate(72deg);}
    25%  {transform: rotate(90deg);}
    30%  {transform: rotate(108deg);}
    35%  {transform: rotate(126deg);}
    40%  {transform: rotate(144deg);}
    45%  {transform: rotate(162deg);}
    50%  {transform: rotate(180deg);}
    55%  {transform: rotate(198deg);}
    60%  {transform: rotate(216deg);}
    65%  {transform: rotate(234deg);}
    70%  {transform: rotate(252deg);}
    75%  {transform: rotate(270deg);}
    80%  {transform: rotate(288deg);}
    85%  {transform: rotate(306deg);}
    90%  {transform: rotate(324deg);}
    95%  {transform: rotate(342deg);}
    100% {transform: rotate(360deg);}
}

header nav ul ol .mensaje-index{
    text-align: center;
    border-bottom: 4px solid rgb(0, 0, 0);
    overflow: hidden;
    animation: anim 2.5s linear forwards;
}


.mensaje-index h1{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

@keyframes anim {
    0% {
        width: 0;
        height: 0;
    }
    30% {
        width: 65px;
        height: 0;
    }
    60% {
        width: 65px;
        height: 28px;
    }
    80% {
        width: 65px;
        height: 28px;
    }
    100% {
        width: 65px;
        height: 28px;
    }
}


body{
    background-color: #2f2f2f;
}

body .back {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    background: url("/img/bajo\ la.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 35rem;
}

.logo{
    animation-name: logo;
    animation-duration: 0.7s;
}

.vinilo{
  
    width: 450px;
    height: 450px;
    margin-right: 150px;
    animation-name: logo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.vinilo:hover{
    margin-right: 230px;

}

.cristal{
    width: 100%;
    height: 100%;
    border: 2px solid #00000010;
    margin: 0 auto;
    display: flex;
    align-items: center;
   position: relative;
   justify-content: right;
}

body .efec{
    background: #00000010;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    justify-content: right;
}

body div .compra{
    position: relative;
    bottom: 300px;
    left: 30%;
    color: rgb(0, 0, 0);
    text-align: center;
}

body div .compra a{
    text-decoration: none;
    color: black;
}

body div .compra h3{
    border: 2px solid rgb(0, 0, 0);
    width: 130px;
}


.reproductor{
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 20px;
    width: 350px;
    position: absolute;
    margin-right: 155px;
}

.box{
    position: relative;
    width: 100%;
    height: 350px;
}

.img-reproductor{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

footer{

    position: relative;
    text-align: center;
}

/*Productos*/
#productos{
    width: 100%;
    height: 0px;
}

.prod{
    height: 250px;
    margin-left: 6%;
    margin-right: 30%;
    border-radius: 20px;
    border: 1px solid #ffffff20;
}

.canciones{
   table-layout: fixed;
   border-collapse: collapse;
}



.canciones td{
    width: 250px;
    padding: 15px;
    text-align: left;
    justify-content: space-between;
    cursor: pointer;
}

.canciones tr{
    border-bottom: gray;
}

.canciones tr:hover{
    background-color: gray;
    color: white;
    font-size: medium;
}

.mov{
    margin-left: 75%;
}

.box_shop{
    position: relative;
    width: 100%;
    height: 270px;
}

.reproductor_shop{
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 20px;
    width: 350px;
    position: absolute;
    justify-content: center;
   
}

.titulo_shop{
    margin-top: 270px;
    margin-left: 6%;
    margin-right: 30%;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
    color: white;
}

.head_shop{
    margin-left: 2%;
    margin-right: 2%;
    height: 80px;   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #2f2f2f;
    border: 4px solid #2f2f2f;
}

.borde_shop{
    margin-left: 28%;
    margin-right: 28%;
    height: 130px;
    border: 4px solid white;
    margin-bottom: 50px;
}

.canciones tr td a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.flecha_mov{
    position: fixed;
    width: 80px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flecha{
    
    width: 50px;
    height: 50px; 
}

.flecha:hover{
    width: 60px;
    height: 60px; 
}

#contacto{
    height: 700px;
    margin-left: 10%;
    margin-right: 10%;
}

#foto_cont{
    background: url("/img/contacto.webp") no-repeat center;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

body div img{
    position: absolute;
    width: 90%;
    height: 90%;
}

#datos{
    padding: 20pxs;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

#datos form .mensaje{
    height: 100px;
}

#datos .datos{
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: #00000040;
}

#datos h3 a{
    color: white;
}

.enviar{
    width: 105%;
    height: 30px;background-color: rgba(128, 0, 0, 0.836);
    font-weight: bolder;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}