#primero{
    background-color: rgb(233, 196, 129);
}

nav>ul>li#logo {
    background-color: rgb(233, 196, 129);
}

li {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 125px;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    padding: 3%;
    font-family: 'Courier New', Courier, monospace;

}

.inicio{
    background-color: white;

}
